/ Navigation
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    = link_to root_path, class: 'navbar-brand' do
      Book Shelf

    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to carts_path, class: 'nav-link btn btn-default border-1px' do
            %span 5
            %i.fa.fa-shopping-cart{"aria-hidden" => "true"}
            Cart

      %ul.navbar-nav.ml-auto
        - if current_user
          %li.nav-item
            = link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link btn btn-default border-1px'
        - else
          %li.nav-item
            = link_to "Sign In", new_user_session_path, class: 'nav-link btn btn-default border-1px'

/
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Shopping Cart

      #navbar.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li= link_to 'Products', root_path
          %li= link_to 'My Cart', carts_path
        - if current_user
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown.pull-right
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.name
                %span.caret
              %ul.dropdown-menu.navbar-right
                %li= link_to "Sign Out", destroy_user_session_path, method: :delete
